<ion-header [translucent]="true" class="mb-4">
  <ion-toolbar color="dark">
    <div class="container">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" type="button"></ion-back-button>
      <ion-title class="display-5 p-2 ms-1">Search Verse</ion-title>
    </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row m-2">
      <input class="form-control mb-2" type="number" id="search" placeholder="Chapter" name="searchChapter">
      <input class="form-control mb-2" type="number" id="search" placeholder="Verse" name="searchVerse">
      <button type="button" class="btn btn-warning">Search</button>
    </div>

  </div>
</ion-content>
